#jsz-w-dashboard {
	margin-top: 26px;
	&>div {
		margin-bottom: 24px;
	}
}

.jsz-w-head {
	margin-right: 12px;
	i {
		margin-top: -5px;
		margin-right: 12px;
		font-size: 1.5rem;
		color: $blue;
	}
}

.jsz-grid-3-small {
	display: grid;
	// grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-template-rows: auto;
	grid-gap: 32px;
}

.jsz-w-humidity-container,
.jsz-w-weather-container,
.jsz-w-temp-container {
	position: relative;
	padding: 20px;
	box-shadow: 0px 16px 30px rgba(68,68,68,0.15);
	border-radius: 10px;
	animation: showBoard .8s;
}

@keyframes showBoard {
	from {
		top: 40%;
		opacity: 0;
	}
	to {
		top: 0%;
		opacity: 1;
	}
}

.jsz-w-weather-container {
	position: relative;

	h2 {
		margin-bottom: 13px;
		color: $blue;
	}

	& p:last-child {
		margin-top: 16px;
	}
}

.jsz-w-temp {
	font-size: 1.3rem;
	margin-bottom: 16px;
	b {
		color: $blue;
	}
}

.jsz-w-temp-sub {
	margin-bottom: 16px;
	p {
		font-size: 14px;
	}
	p:first-child {
		margin-right: 16px;
	}
}

.jsz-today {
	margin-top: 10px;
}

#weatherIcon {
	position: absolute;
	right: 20px;
}

.jsz-w-humidity-container {
	width: 100%;
}

svg{
	transform: rotate(-90deg);
}
  
circle {
	fill: none;
	stroke-width: 10px;
}

.jsz-w-humidity-underlay {
	stroke: #ccc;
}
  
.jsz-w-humidity-progress {
	stroke: $blue;
	stroke-width: 10px;
	transition: .3s stroke-width ease-in-out;
	stroke-linecap: round;
}
#jsz-w-humidity-wrap {
	margin-left: auto;
	position: relative;
	width: max-content;
}

#jsz-w-humidity-precent {
	width: max-content;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.2rem;
	font-weight: 600;
	color: $blue;
}

