.jsz-search-container {
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

.jsz-search-input {
	font-size: 1.5rem;
	border: none;
	border-bottom: 1px solid #666;
	color: #666;
	// width: stretch;
	width: calc(100% - 284px);
	margin-right: 8px;
}

.jsz-search-icon {
	position: absolute;
	font-size: 1.5rem;
	color: #666;
	top: 8px;
}

.jsz-search-btn {
	z-index: 100;
	margin: 8px 16px 0px 0px;
}

.jsz-place-btn {
	margin-top: 8px;
}

.jsz-clear-btn {
	color: $blue;
	font-size: 1.6rem;
	background: transparent;
	border: none;
	position: relative;
	top: 1px;
	right: 26px;
}

.jsz-prim-btn {
	color: white;
	border: none;
	border-radius: 5px;
	background-color: $blue;
	font-size: 16px;
	padding: 6px 0px;
	width: 120px;
}
@media only screen and (max-width: 786px) {
	.jsz-search-input {
		width: calc(100% - 26px);
	}
}