@import './components/vars.scss';
@import './components/search.scss';
@import './components/notif.scss';
@import './components/loader.scss';
@import './components/dashboard.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #444;
}

#app {
	padding: 0 4%;
	max-width: 950px;
	margin: 6% auto;
}

button {
	cursor: pointer;
}

input {
	border-radius: 0;
}